.landing-container {
  .first-view {
    background-image: url(./landing.png);
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    opacity: 0.9;
    filter: brightness(120%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    h1 {
      text-align: center;
      font-family: "Staatliches", cursive;
      font-size: 5em;
      color: #fff;
      text-shadow: black 2px 2px 30px;
      padding-bottom: 0.25em;
    }
    h6 {
      font-family: "Overpass", sans-serif;
      color: #f8a234;
      font-size: 2.9em;
      font-weight: bold;
      text-shadow: black 2px 2px 20px;
    }
  }
  .third-view {
    padding: 3.1em 0;
  }
}

@media (max-width: 400px) {
  .landing-container {
    .first-view {
      h1 {
        font-size: 3.75em;
      }
      h6 {
        font-size: 2.5em
      }
    }
  }
}
