.contact-form-container {
  background-color: #EDBA96;
  font-family: "Overpass", sans-serif;
  padding-top: 2.2em;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
    font-family: "Staatliches", cursive;
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 1em;
  }
  h3 {
    color: #AD463D;
    font-size: 1em;
    font-weight: bold;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    margin: 0.6em;
    a {
      padding-left: 0.3em;
      text-decoration: none;
      color: white;
      &:hover {
        font-weight: bold;
        color: #AD463D;
      }
    }
  }
}
.hours-and-map-container {
  width: 100%;
  display: flex;
  .mapouter {
    position: relative;
    text-align: right;
    height: 31.25em;
    width: 32.75em;

    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 31.25em;
      width: 32.75em;
      iframe {
        width: 32.9em;
        height: 31.25em;
      }
    }
  }
}

@media (max-width: 1150px) {
  .contact-form-container {
    form {
      padding: 0.6em;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 70%;
      input {
        font-size: 0.9em;
        margin: 0.6em;
        width: 100%;
        height: 1.9em;
      }
      textarea {
        font-size: 0.9em;
        margin: 0.6em;
        resize: none;
        width: 100%;
        height: 12.5em;
        border: none;
      }
    }
  }
  .hours-and-map-container {
    flex-direction: column;
    .mapouter {
      height: 25em;
      width: 100%;
      .gmap_canvas {
        height: 25em;
        width: 100%;
        iframe {
          width: 100%;
          height: 25em;
        }
      }
    }
  }
}
