.contact-form-container {
  background-color: grey;
  //   padding: 10px;
  padding-top: 35px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Paytone One", sans-serif;
    text-align: center;
    font-size: 35px;
  }
  h4 {
    font-family: "Overpass", sans-serif;
  }
  form {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    input {
      font-size: 14px;
      margin: 10px;
      width: 450px;
      height: 30px;
    }
    textarea {
      font-size: 14px;
      margin: 10px;
      resize: none;
      width: 450px;
      height: 200px;
      border: none;
    }
    button {
      font-size: 15px;
      width: 200px;
      height: 40px;
      background-color: gold;
      margin: 10px;
      &:hover {
        font-weight: bold;
      }
    }
  }
}
.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 524px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 524px;
}

.hours-and-map-container {
  width: 100%;
  display: flex;
}
