.menu-container {
  background: #EFE4DC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5em;
  h1 {
    font-family: "Staatliches", cursive;
    font-size: 2.5em;
    padding-bottom: 1.9em;
  }
  .menu-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    border-bottom: 2px solid maroon;
    h2 {
      font-family: "Staatliches", cursive;
      padding-bottom: 0.6em;
      font-size: 1.25em;
    }
  }
  .menu-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.25em;
    .food-items {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 30%;
      padding: 0.6em;
      .item-name {
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        h5 {
          color: maroon;
          font-size: 1.25em;
        }
        h6 {
          color: #AD463D;
          font-size: 1em;
          padding-top: 0.3em;
        }
      }
      p {
        color: #444;
        font-size: 1em;
        text-transform: lowercase;
      }
      .line-break {
        padding-top: 0.6em;
        margin-bottom: 0.6em;
        width: 6.25em;
        border-bottom: 2px dashed #444;
      }
    }
  }
}
