nav {
  .drawerHidden {
    font-family: "Overpass", sans-serif;
    background-color: #ad463d;
    width: 100%;
    position: fixed;
    font-size: 1em;
    z-index: 10;
    height: 3.75em;
    display: flex;
    align-items: center;
    padding-left: 1.9em;
  }
  div {
    padding-right: 2.2em;
    display: flex;
    justify-content: space-between;

    button {
      display: none;
    }
  }
  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0.6em;
    padding-right: 1.25em;
    font-size: 0.9em;
    &:hover {
      color: #ffca56;
    }
  }
}

@media (max-width: 700px) {
  nav {
    div {
      button {
        display: initial;
        right: 2.5em;
        border: none;
        font-size: 1.6em;
        height: 2.5em;
        position: relative;
        z-index: 100;
        background: transparent;
        border: none;
        color: white;
        &:hover {
          color: black;
        }
      }
    }
  }
  .drawerOpen {
    transition-property: transform, visibility;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: white;
    z-index: 100;
    opacity: 0.95;
    height: 100vh;
    width: 100%;
    transition: 0.5s;
    display: flex;
    align-items: flex-start;
    position: fixed;

    button {
      display: flex;
      position: inherit;
      top: 0.3em;
      right: 1.25em;
      font-size: 2.5em;
      padding: 0;
      color: black;
      &:hover {
        color: #ad463d;
      }
    }
    .nav-links {
      transition: 0.3s;
      width: 100%;
      padding-top: 2.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        padding: 0.6em;
      }
    }
  }
  .drawerHidden {
    .nav-links {
      display: none;
    }
  }
}
