.about-container {
  width: 100%;
  .about-header-container {
    width: 100%;
    padding-top: 60px;
    display: flex;
    section {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      // margin: 20px;
      .line-about {
        padding-top: 40px;
        margin-bottom: 40px;
        width: 100px;
        border-bottom: 4px solid maroon;
      }
    }

    h1 {
      color: orange;
      font-family: "Paytone One", sans-serif;
      font-size: 30px;
      text-align: center;
    }
    p {
      font-family: "Overpass", sans-serif;
      font-size: 18px;
      text-align: center;
    }
    img {
      width: 750px;
      height: 400px;
      object-fit: cover;

      overflow: hidden;
    }
  }

  .gallery-about-container {
    background-color: gold;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: black;
      font-family: "Paytone One", sans-serif;
      font-size: 30px;
      padding: 20px;
    }
    img {
      margin: 10px;
      width: 350px;
      height: 320px;
      object-fit: cover;
    }
  }
}
