.second-view {
  background-color: #ad463d;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.1em 0;
  i {
    color: white;
    font-size: 3.75em;
  }

  h2 {
    padding: 1.25em 0;
    color: white;
    font-family: "Staatliches", cursive;
    font-size: 2.5em;
    font-weight: bold;
  }
  .hours {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    flex-grow: 1;
    ul {
      width: 80%;
      li {
        display: flex;
        text-decoration: none;
        font-family: "Overpass", sans-serif;
        color: white;
        font-size: 1.25em;
        line-height: 1.5em;
        width: 100%;
        .business-hours-day {
          display: flex;
          // flex-grow: 1;
        }
        .hours-line {
          display: flex;
          flex-grow: 2;
          border-bottom: 2px solid white;
          opacity: 0.5;
          transform: translateY(-5px);
        }
        .business-hours-time {
          text-align: right;
          // flex-grow: 1;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .second-view {
    padding: 1.9em 0;
    i {
      font-size: 2.9em;
    }

    h2 {
      font-size: 2.2em;
    }
    .hours {
      ul {
        width: 95%;
        li {
          font-size: 1em;
        }
      }
    }
  }
}

@media (max-width: 41.9em) {
  .second-view {
    i {
      font-size: 2.5em;
    }

    h2 {
      font-size: 1.9em;
    }
    .hours {
      ul {
        li {
          font-size: 0.9em;
        }
      }
    }
  }
}

@media (max-width: 23.75em) {
  .second-view {
    i {
      font-size: 2.5em;
    }

    h2 {
      font-size: 1.6em;
    }
    .hours {
      ul {
        li {
          font-size: 0.9em;
        }
      }
    }
  }
}
