.gallery-container {
  h2 {
    text-align: center;
    padding: 20px 0;
    color: orange;
    font-family: "Paytone One", sans-serif;
    font-size: 40px;
    font-weight: bold;
  }
  .gallery-image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
      padding: 10px;
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
  }
}
