.App {
  font-family: "Overpass", sans-serif;
}
//
$dark-yellow: rgba(210, 128, 4, 1);

// contact section
//
$dark-brown: rgba(48, 11, 3, 1);

//logo colors
$gold: #f8a234;
$yellow: #fdf035;
$red: #fa121e;
